@use '../../helpers' as *;

.shop {
    &__header {
        padding: rem(20) rem(60);
        max-width: var(--header-width);
        border-radius: var(--border-radius-mixed-top);
        // padding-block: rem(30);

        @include tablet {
            max-width: 100%;
            padding: rem(20) rem(30);
        }

        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include mobile-s {
                max-height: 100%;
                flex-direction: column;
                row-gap: rem(10);
            }
        }
    }

    &__header-nav {
        display: flex;
        align-items: center;
        column-gap: rem(26);
    }
}

