@use 'helpers' as *;

::-webkit-scrollbar {
    width: rem(10);
    height: rem(10);
}
::-webkit-scrollbar-track {
	background: var(--color-light);
    border-radius: rem(8);
}
::-webkit-scrollbar-thumb {
    background: var(--color-gray);
    border-radius: rem(8);
}
::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent);
}

body {
	@include fluid-text(18, 14);

	display: flex;
	flex-direction: column;
	font-family: var(--font-family-base);
	line-height: 1.1;
	color: var(--color-accent);
	// background-image: var(--color-bg);
    background-color: var(--color-gray);
	position: relative;
}

main {
	flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	color: var(--color-accent);
	font-family: var(--font-family-base);
	font-weight: 600;
}

h2, .h2 {
	@include fluid-text(38, 28);

	line-height: 1.3;
}

h3, .h3 {
	@include fluid-text(30, 20);
}

h4, .h4 {
	@include fluid-text(26, 18);
}

h5, .h5 {
	@include fluid-text(24, 18);
}

h6, .h6 {
	@include fluid-text(20, 16);
}

a,
button,
label,
input,
textarea,
select,
svg * {
	transition-duration: var(--transition-duration);
}

[data-collapse] {
    [data-collapse-heading] {
        position: relative;
        list-style: none;
        cursor: pointer;
        transition-duration: var(--transition-duration);
    }

    [data-collapse-heading]::after {
        content: '';
        position: absolute;
        right: rem(20); 
        top: 50%;
        // transform: translateY(-50%);
        width: rem(10); 
        height: rem(10); 
        border: solid var(--color-accent); 
        border-width: 0 rem(2) rem(2) 0; 
        transform: translateY(-50%) rotate(45deg); /* Поворачиваем для создания стрелочки */
        transition: all var(--transition-duration);
    }

    & > [data-collapse-content] {
        height: 100%;
        transition: height 0.3s ease-out, padding-block 0.3s ease-out;
        overflow: hidden;
    }
}

[data-collapse="close"] > [data-collapse-heading]::after {
    transform: rotate(225deg);
}

body.dark-theme {

    [data-collapse] {
        [data-collapse-heading]::after {
            border-color: var(--dark-theme-color-light);
        }
    }
}