@use 'helpers' as *;

:root {
  --color-light: #FFFFFF;
  --color-light-gray: #E8EAED;
  --color-gray: #50525A;
  --color-accent: #2b2c30;

  --color-link: #006CF9;
  --color-availability: #43FF75;
  --color-cart-button: #E20000;
  --color-nav-button: #ff000070;

  --color-gradient-1: #171717;
  --color-gradient-2: #27292f;
  --color-bg: linear-gradient(var(--color-gradient-1), var(--color-gradient-2));

  --border: 1px solid var(--color-accent);
  --border-radius: #{rem(10)};
  --border-radius-mixed-bottom: #{rem(0)} #{rem(0)} #{rem(10)} #{rem(10)};
  --border-radius-mixed-top: #{rem(10)} #{rem(10)} #{rem(0)} #{rem(0)};

  --shadow: #{rem(0)} #{rem(0)} #{rem(16)} #{rem(8)} rgba(255, 0, 0, 0.56);

  --font-family-base: "Poppins", sans-serif;

  --container-width: #{rem(1400)};
  --container-padding-x: #{rem(16)};

  --header-width: 70%;
  --header-height: #{rem(80)};

  --transition-duration: 0.2s;
}